In [21]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [22]:
#load the ann model,scaler pickle file,one hot encoder pickle file
model=load_model('model.h5')
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)
    
with open('onehot_encoder_geography.pkl','rb') as file:
    onehot_encoder=pickle.load(file)
    
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [23]:
#example input data 
input_data={'CreditScore':600,
            'Geography':'France',
            'Gender':'Male',
            'Age':40,
            'Tenure':3,
            'Balance':60000,
            'NumOfProducts':2,
            'HasCrCard':1,
            'IsActiveMember':1,
            'EstimatedSalary':50000}

In [25]:
#one hot encode geography
geo_encoded=onehot_encoder.transform([[input_data['Geography']]])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder.get_feature_names_out(['Geography']))

c:\Users\Syed Sheezan\AI-PROJECTS\ANN-classification\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [28]:
input_df=pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [30]:
#encode categorical variables
input_df['Gender']=label_encoder.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [31]:
#concatination one hot encoded
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [32]:
#scaling the input
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [33]:
#predicting the output
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step

array([[0.03198284]], dtype=float32)

In [34]:
prediction_proba=prediction[0][0]

In [35]:
prediction_proba

np.float32(0.031982843)

In [37]:
if prediction_proba>0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.